@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


@font-face {
  font-family: 'Boston-Angel-Bold'; /* The name of the font you want to use */
  src: url('./fonts/Boston\ Angel\ Bold.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal;  /* Optional: Specify font style */
}


@font-face {
  font-family: 'Boston-Angel-regular'; /* The name of the font you want to use */
  src: url('./fonts/Boston\ Angel\ Regular.ttf') format('truetype'); /* Path to the .ttf file */
  font-weight: normal; /* Optional: Specify font weight */
  font-style: normal;  /* Optional: Specify font style */
}